* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  grid-template-columns: minmax(15px, 1fr) 2fr 328px 1fr;
  grid-template-rows: 100px 2fr 50px;
  grid-template-areas:
    ". header header "
    ". main aside"
    ". main footer";
  background-color: #fafafa;
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  box-shadow: none;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom-width: 1px;


  border-bottom-color: #d3d3d3;
  background-color: #fafafa;
  font-weight: 600;
}

input:focus,
select:focus {
  border-color: none !important;
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.fa-search {
  font-size: 30px;
}

.container-pesquisa {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.rede-social {
  padding: 8px;
  width: 32px;
  margin: 5px 3px;
  border-radius: 50%;
  border: solid 2px #999999;
  font-size: 10px;
  text-align: center;
  text-decoration: none;

}

.font-color {
  color: #6e6e6e;
}

.fa:hover {
  background: #3B5998;
  color: #fafafa;
}


nav ol {
  display: flex;
}

nav li {
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: .05em;
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px 10px 5px 10px;
  color: #999999;
}

nav li:first-child {
  color: #6e6e6e;
}

nav li:hover {
  color: #6e6e6e;
}

.logo {
  margin-bottom: 3px;
  height: 60px;
  width: 180px;

}

main {
  grid-area: main;
  display: flex;

  padding-top: 5%;
  width: 680px;
}

.container-news {
  display: flex;
  margin-bottom: 48px;

  max-width: 680px;
  width: 100%;

}

article {
  display: flex;
  max-width: 650px;
  width: 100%;
  margin-bottom: 40px;
}

.container-post {
  max-width: 500px;
  width: 100%;

  margin: 0px 15px 0px 0px;
}

.topicos {
  color: #6e6e6e;
  font-size: 15px;
}

.topicos i {
  padding-left: 8px;
}

.titulo-topicos {
  text-transform: uppercase;
}

.titulo-topicos:hover {
  text-decoration: underline;
  text-decoration-color: #6e6e6e;
}

.container-subtitulo {
  margin-top: 5px;
}

h2 {
  letter-spacing: -.42px !important;
  font-size: 20px;
  font-weight: 600;
  color: #2F2F2F;
}

.descricao {
  color: #6e6e6e;
  font-size: 14px;
  line-height: 22px;
  margin-top: 10px;
}

.footer-post {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 10px;
}

.footer a:hover {
  text-decoration: underline;
}


.container-info-post {
  margin-top: 5px;
}

.info-time {
  font-size: 13px;
  color: #6e6e6e;
  font-weight: 400;
}

.info-autor {
  font-size: 12px;
  color: #2F2F2F;
  font-weight: 400;
}

.info-autor a:hover {
  text-decoration: underline;
}

button {
  background-color: #fafafa;
  border: none;
}

.material-icons {
  background-color: #fafafa;
  color: #6e6e6e;
}

.material-icons:hover {
  color: #2F2F2F;
}

.container-img img {
  width: 100%;
  height: 100%;
}

aside {
  grid-area: aside;
  width: 328px;
  height: 693px;

  display: flex;
  align-items: center;
}

.popular-news {
  display: flex;
  flex-direction: column;
}

.titulo-popular-news {
  line-height: 24px !important;
  font-size: 19px;
  width: 100%;
  border-bottom: 1px solid #d3d3d3;
  color: #2F2F2F;
  padding-bottom: 12px;
}

.container-lista {
  padding-right: 32px;
  padding-top: 32px;
  line-height: 20px;

  display: flex;
  flex-direction: column;

  border-bottom: 1px solid #d3d3d3;
  width: 100%;
}

.container-lista li {
  display: flex;
  margin-bottom: 15px;
}

.container-lista li:last-child {
  padding-bottom: 20px;
}

.titulo-lista {
  font-weight: 600;
  margin-left: 10px;
}

.lista-numeros {
  font-size: 34px;
  color: #d3d3d3;
}

footer {
  grid-area: footer;
  margin-top: 5px;
}

footer ol {
  display: flex;
  flex-wrap: wrap;
}


footer li {
  color: #6e6e6e;
  font-size: 14px;
  margin-right: 21px;
  line-height: 24px;
  font-weight: 400;
}

footer li:hover {
  text-decoration: underline;
  text-decoration-color: #6e6e6e;
}

@media (max-width: 855px) {
  body {
    grid-template-columns: 15px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      ". header ."
      ". main   ."
      ". aside  aside"
  }

  header {
    position: fixed;
    width: 100%;
    background: #f5f5f5;

    display: flex;
    justify-content: center;
    padding-top: 10px;
  }

  main {
    margin-top: 24px;
    width: auto;
    margin-right: 2%;
  }


  .logo {
    display: none;
  }

  .container-pesquisa {
    display: none;
  }

  aside {
    display: initial;
    width: 98%;
  }
}