html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

.container {
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: 20vh 80vh;
  grid-template-areas: "headers headers"
    "main main "

    //grid-gap: 30px;
}

.header {
  grid-area: headers
}

.main {
  grid-area: main
}

.main {
  display: flex;
}

.aling-contents-center {
  display: flex;
  max-width: 1032;
  widows: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

.img {
  background-image: url(https://cdn-images-1.medium.com/fit/c/152/156/1*WBQfFVVrQPht9M-uWniunA.jpeg);
  width: 150px;
  height: 156px;
}

.container-popular-news {
  width: 328px;
}